
.container{
    position: absolute;
    background-image: url(/images/mosque.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: -1;
    overflow: hidden;
    filter: blur(0px);
}
.percent{
    font-size: 50px;
    position: relative;
    color:white;
    margin-left: 50%;
    margin-top: 50%;
    cursor: pointer;
}