body{
    background-image: url(/images/mosque.jpg);
    display: grid;
    grid-template-columns:1fr;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
